
__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.env

.ipynb_checkpoints/

.vscode/
.idea/


.DS_Store
Thumbs.db

*.log


.pytest_cache/
.mypy_cache/

data/
notebooks/

rag_testing.py
semi_main.py
temp.txt
test.py
testing.py


src/agent.py
src/classifier_chain.py
src/clause_splitter.py
src/tools.py